@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background: #212529;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 80px;
    background-color: #383e45;
    border-radius: 12px;
   
}

.navbar h2{
    color: crimson;
    font-weight: 600;
    margin-right: 600px;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-right: 25px;
    transition: color 0.3s ease;
}

.navbar ul li:hover a{
    color: crimson;
}

.navbar ul li:last-child a{
    margin: 0;
}

.hire-btn{
    background: crimson;
    padding: 6px 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.hire-btn:hover{
    background: #fb0069;
}

.main{
    height: 640px;
    display: flex;
    margin-top:-100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main h4{
    font-size: 32px;
    color: #fff;
    font-weight: 600;
}

.main h4 span{
    color: crimson;
    text-decoration: underline;
}

.main p.title{
    font-size: 44px;
    font-weight: 600;
    color: #fff;
    margin-top: 8px;
}

.main p.subtitle{
    font-size: 16px;
    color: #ccc;
    margin-top: 20px;
}

.main img{
    width: 200px;
    height: 200px;
    margin-top: 100px;
}

.Ach-head{
    margin: 50px 50px 30px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.08);
    display: inline-block;
    color: crimson;
    border-radius: 12px;
   margin-left: 640px;
   font-size: 1.4rem;
   
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 0 50px;
}

.about img{
    width: 280px;
    border-radius:140px;
    filter:grayscale(85%);
}
.about img:hover{
    width: 280px;
    border-radius:140px;
   filter: brightness(1.2);
}

.about .info h3{
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .info p{
    color: #ccc;
    font-size: 14px;
}

.about .info button{
    margin-top: 30px;
}

.skills{
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
}

.skills .left{
    width: 680px;
}

.skills .left .info h3{
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
}

.skills .left .info p{
    color: #ccc;
    font-size: 14px;
}

.skills .left button{
    margin-top: 30px;
}

.skills .right{
    width: 420px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.skills .right .item{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #383e45;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.skills .right .item i{
    font-size: 34px;
    color: #fff;
}
.projects{
  background: #383e4571;
    padding: 340px 50px 40px;
   border-radius: 20px;
   
}
.projects .prj1{
    background-color: rgba(0, 0, 0, 0.678);
    border-radius: 18px;
    padding: 5px;
    height: 400px;
    width: 600px;
    margin-top: -300px;
}
.projects .prj2{
    background-color: rgba(0, 0, 0, 0.678);
    border-radius: 18px;
    padding: 5px;
    height: 400px;
    width: 600px;
    margin-top: -400px;
    margin-left: 650px;
}
.vd{
height: 76%;
width: 100%;
overflow: hidden;
border-bottom-right-radius: 13%;
border-bottom-left-radius: 10%;
}
.btx{
    background: crimson;
    font-weight: 500;
    padding: 6px 24px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    margin-left: 250px;
    transition: background-color 0.3s ease;
}
.btx1{
    background: crimson;
    font-weight: 500;
    padding: 6px 24px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}
.btxx{
    background: crimson;
    font-weight: 500;
    padding: 6px 24px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    margin-left: 570px;
    transition: background-color 0.3s ease;
}

.dwld{
    font-size: 16px;
    padding: 4px;
    color: black;
    border-radius:12px ;

    margin-left: 90px;
    font-weight: 580;
    margin-top: 32px;
}
.dwld1{
    font-size: 16px;
    padding: 4px;
    color: black;
    border-radius:12px ;

    margin-left: -6px;
    font-weight: 580;
    margin-top: -2px;
}
#resume{
margin-left: 90px;
margin-top: -10px;
}
.clgf{
    margin-left: 200px;
}
footer{
    position: relative;
    background: #1c1c1c;
    padding: 80px 50px 40px;
    margin-top: 100px;
}
footer .start{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    background-color: crimson;
    padding: 30px 25px;
    border-radius: 15px;
    width: 70%;
    top: -16%;
    left: 15%;
}

footer .start p{
    font-size: 13px;
    width: 35%;
}
/*qualification*/
.qualifiaction{
    background-color: rgba(255, 255, 255, 0.041);
    height: 560px;
    width: 1200px;
    border-radius: 14px;
    margin-left: 50px;
}

.container{
	width: 100%;
	padding: 33px 10%;
}
.container{
	padding-right: calc(10% - 30px);
}
main.row{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
}
.col header.title{
	font-family: helvetica;
	color: crimson;
	padding: 0px 0px 20px 30px;
}
.col .contents{
	padding: 0px 30px;
	border-left: 2px solid #bababa;
}
.col .contents .box{
	position: relative;
	padding: 20px;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
	cursor: pointer;
	transition: all 0.4s;
	margin-bottom: 20px;
    border-radius: 14px;
}
.col .contents .box:hover{
	box-shadow: 0px 3px 12px 0px #ccc;
	border: 1px solid transparent;
}
.col .contents .box::before{
	content: '';
	position: absolute;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	right: calc(100% + 22px);
	top: 0;
	background-color: crimson;
	border: 2px solid white;
}
.box h4{
	position: relative;
	color: crimson;
}
.box h3{
	font-size: 17px;
	padding: 10px 0px 6px;
	font-family: helvetica;
	color: #444;
}
.box p{
	line-height: 1.2;
	color: #666;
	font-size: 17px;
}


footer .start button{
    background: transparent;
    border: 1px solid #000;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 100px;
    transition: all 0.3s ease;
}

footer .start button:hover{
    background-color: #fff;
    border-color: #fff;
}

footer .cols{
    display: flex;
    align-items: start;
}

footer .cols .about-col{
    flex: 3;
}

footer .cols .about-col h3{
    color: crimson;
    margin-bottom: 20px;
}

footer .cols .about-col p{
    color: #ccc;
    font-size: 13px;
}

footer .cols .links-col{
    flex: 3;
}

footer .cols .links-col h4, footer .cols .news-col h4{
    color: #fff;
    margin-bottom: 20px;
}

footer .cols .links-col a{
    display: block;
    text-decoration: none;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 26px;
    transition: color 0.3s ease;
}

footer .cols .links-col a:hover{
    color: crimson;
}

footer .cols .news-col{
    flex: 3;
}

footer .cols .news-col p{
    color: #7b7b7b;
    font-size: 15px;
}

footer .cols .news-col form{
    width: 100%;
    margin-top: 20px;
    position: relative;
}

footer .cols .news-col form input{
    width: 100%;
    background: #212529;
    border: none;
    padding: 13px;
    border-radius: 100px;
    font-weight: 400;
    font-size: 13px;
}

footer .cols .news-col form button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: crimson;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer .cols .news-col form button:hover{
    background-color: #fb0054;
}

footer .cols .news-col form button i{
    font-size: 26px;
}

.contact{
    background-color: rgba(255, 255, 255, 0.041);
    height: 426px;
    width: 1200px;
    border-radius: 14px;
    margin-left: 50px;  
}
.meet{
    font-size: 18px;
    font-weight: 500;
    color: #bababa;
    margin-left: 360px;
}
.form{
    margin-left: 350px;
   color: #bababa;
   font-size: 18px;
}
.namef{
    font-weight: 500;
   height: 36px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
}
.namm{
margin-left: -290px;
}
.msg1{
margin-top: -200px;
}
.msgf{
    font-weight: 500;
    height: 36px;
     border: none;
     font-size: 18px;
     cursor: pointer;
     border-radius: 6px;
}
.msgff{
    margin-left: 330px;
    margin-top: -10px;
}
.phf{
    height: 36px;
    font-weight: 500;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
}
.phnn{
    margin-left: -200px;
}
.sche{
    font-weight: 500;
    height: 36px;
     border: none;
     font-size: 18px;
     cursor: pointer;
     border-radius: 6px;
}
.sub{
    margin-left: 920px;
    background: crimson;
   
    font-weight: 500;
    padding: 6px 24px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
   
    transition: background-color 0.3s ease;
}

.footerr {
    height: 100px;
    width: 1344px;
  background-color: 212529;
  font-family:"Montserrat", sans-serif;
  border-radius: 14px;
  color: #fff;
  padding: 8px ;
  margin-top: -60px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.footerr-content {
    font-size: 20px;
  display: flex;
  margin-left: 235px;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1100px) {
.skills{
        justify-content: space-between;
        gap: 20px;
    }

    .skills .left{
        width: 500px;
    }

    .skills .left .info h3{
        font-size: 22px;
    }

    .skills .left .info p{
        font-size: 12px;
    }

    footer{
        margin-top: 150px;
    }

    footer .start{
        width: 90%;
        left: 5%;
        top: -20%;
    }

    footer .cols{
        flex-wrap: wrap;
    }

    footer .cols .about-col{
        flex-basis: 50%;
    }

    footer .cols .links-col{
        flex-basis: 50%;
    }

    footer .cols .news-col{
        flex-basis: 50%;
    }

}


@media screen and (max-width: 780px) {
    
    .navbar button{
        display: none;
    }

    .main h4{
        font-size: 24px;
    }

    .main p.title{
        font-size: 36px;
    }

    .main p.subtitle{
        font-size: 14px;
    }
.about{
        flex-wrap: wrap;
        justify-content: center;
    }
  
        main.row{
            grid-template-columns: 1fr;
        }
        .row .col:nth-child(2){
            margin-top: 30px;
        }
    }
    


@media screen and (max-width: 650px) {
    
    .navbar{
        justify-content: center;
    }

    .navbar h2{
        display: none;
    }

    .navbar ul li a{
        font-size: 14px;
    }

    .main{
        margin-top: 50px;
        height: 320px;
        justify-content: start;
    }

    .main h4{
        font-size: 20px;
    }

    .main p.title{
        font-size: 28px;
    }

    .main p.subtitle{
        font-size: 12px;
    }

    .main img{
        margin-top: 40px;
        width: 150px;
        height: 150px;
    }

    .skills{
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills .right{
        justify-content: space-between;
    }

    .skills .left .info h3{
        font-size: 20px;
    }

    footer .start{
        top: -8%;
    }

    footer .start p{
        display: none;
    }

    footer .cols .about-col{
        flex-basis: 100%;
        margin-bottom: 40px;
    }

    footer .cols .links-col{
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    footer .cols .news-col{
        flex-basis: 100%;
    }

}

@media screen and (max-width: 480px) {
    
    .main p.title{
        font-size: 18px;
    }

    .main p.subtitle{
        font-size: 10px;
    }

}